@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
body, header, main, section, footer {
  width: 100%;
  max-width: 768px;
  margin: 0px;
  padding: 0px;
}

body {
  height: 2000px;
}

section {
  padding: 20px 0;
}

a {
  text-decoration: none;
}

i {
  padding: 0 10px 0 0;
}

.onOneLine {
  display: flex;
  flex-direction: row;
}

.keepItOnYourLeft {
  justify-content: left;
}

.KeepItThin {
  font-weight: lighter;
}

.underlineGreen {
  border-bottom: 3px solid #99E2D0;
}

.keepApart {
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.container__title {
  width: 90%;
  max-width: inherit;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.container__contents {
  width: 85%;
  max-width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 100%;
  max-width: inherit;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(60, 60, 60);
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.card__pictures {
  width: 100%;
  max-width: inherit;
  height: 150px;
}
.card__contents {
  width: 90%;
  max-width: inherit;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.color-white {
  color: white;
}
.color-white:hover {
  color: #FF79DA;
}

.firstToAppear {
  -webkit-animation: show 1000ms 200ms;
          animation: show 1000ms 200ms;
}

.secondToAppear {
  -webkit-animation: show 2500ms 200ms;
          animation: show 2500ms 200ms;
}

.thridToAppear {
  -webkit-animation: show 5000ms 200ms;
          animation: show 5000ms 200ms;
}

.fourthToAppear {
  -webkit-animation: show 7000ms 200ms;
          animation: show 7000ms 200ms;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.blocInline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 10px;
}

h1, h3 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

p, h2, h4 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.blackBolder {
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 20px 0;
  font-size: 50px;
}

.button {
  background: linear-gradient(pink, #FF79DA);
  color: white;
  font-size: 20px;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgb(60, 60, 60);
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms ease-in-out;
}
.button:hover {
  filter: brightness(1.15);
  transform: scale(1.1);
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(60, 60, 60);
  margin-top: 40px;
}
.footer__title {
  width: 90%;
  padding: 20px 0;
}
.footer__contents {
  width: 90%;
  margin-bottom: 20px;
}

.bulletPointFooter {
  list-style: none;
  text-decoration: none;
  margin: 0 0 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0px;
  background-color: rgb(246, 246, 246);
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}
::-moz-placeholder__input:focus {
  color: red;
}
:-ms-input-placeholder__input:focus {
  color: red;
}
::placeholder__input:focus {
  color: red;
}

.location {
  background-color: rgb(211, 206, 206);
}

.location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(205, 200, 200);
  padding: 20px 0 20px 0;
}
.location__icon {
  padding: 0 20px;
}
.location__input {
  font-size: 18px;
  border: none;
  background-color: rgb(211, 206, 206);
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}
.presentation__title {
  width: 60%;
}
.presentation__subtitle {
  width: 60%;
  color: gray;
}

.manual {
  width: 90%;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 5px 5px rgb(60, 60, 60);
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 20px 0;
}
.manual__purpleCaracters {
  position: relative;
  left: -3%;
}
.manual__instructions {
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle {
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 10px 15px;
}

.greenPin {
  width: 15%;
  position: relative;
  top: -90%;
  left: 80%;
  text-align: center;
  background-color: rgb(128, 203, 192);
  color: green;
  padding: 1%;
  border-radius: 3px;
  font-weight: bold;
  font-size: 100%;
}

.imgOfRestaurants {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.pinkheart {
  color: #9356DC;
  display: none;
}

.heart:hover {
  display: none;
}
.heart:hover + .pinkheart {
  display: inline;
}

.mainOfMenu {
  background-color: rgb(246, 246, 246);
}

.headerOfMenu {
  width: 100%;
  max-width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
}
.headerOfMenu__arrow {
  position: relative;
  left: -18%;
}
.headerOfMenu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerOfCard {
  font-size: 22px;
}

.pictureOfRestaurant {
  position: absolute;
  width: 100%;
  max-width: inherit;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container--position {
  position: relative;
  margin-top: 450px;
}

.container--radius {
  border-radius: 80px 80px 0 0;
}

.progress {
  display: none;
  width: 80px;
  height: 100px;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  -webkit-animation: progress;
          animation: progress;
}

.greenCheck {
  border: none;
  border-radius: 100%;
  background-color: white;
  color: #99E2D0;
  padding: 10px 0px 10px 10px;
  transform: rotateX(0deg);
}/*# sourceMappingURL=main.css.map */