@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
body, header, main, footer {
  width: 100%;
  max-width: 768px;
  margin: 0px;
  padding: 0px;
}

body {
  height: 6000px;
}

.container {
  width: 100%;
  max-width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__title {
  width: 90%;
  max-width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.container__contents {
  width: 100%;
  max-width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: inherit;
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__contents {
  width: 90%;
  max-width: inherit;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h3 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

p, h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

i {
  padding: 0 10px 0 0;
}

.logo {
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 20px 0 10px 0;
  box-shadow: 0 0 40px 0 gray;
}

.form__button {
  background-color: #FF79DA;
  color: white;
  font-size: 20px;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 5px 2px 2px rgb(144, 141, 141);
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(60, 60, 60);
}
.footer__title {
  width: 90%;
  padding: 20px 0;
}
.footer__contents {
  width: 90%;
  margin-bottom: 20px;
}

.bulletPointFooter {
  list-style: none;
  text-decoration: none;
  margin: 0 0 10px 0;
}

.onOneLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 0px;
  background-color: rgb(246, 246, 246);
}

::placeholder {
  color: black;
}

.location {
  background-color: rgb(211, 206, 206);
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.color-white {
  color: white;
}

.location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(205, 200, 200);
  padding: 20px 0 20px 0;
}
.location__icon {
  padding: 0 20px;
}
.location__input {
  font-size: 18px;
  border: none;
  background-color: rgb(211, 206, 206);
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}
.presentation__title {
  width: 60%;
}
.presentation__subtitle {
  width: 60%;
  color: gray;
}

.manual {
  width: 90%;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 20px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  padding: 20px 0;
}
.manual__purpleCaracters {
  position: relative;
  margin: 0 0 0 -540px;
}
.manual__instructions {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.circle {
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 10px 15px;
}

.greenPin {
  background-color: rgb(40, 240, 40);
  color: green;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
