// blocs BEM independant= boutons par exemple

.button{
    background: linear-gradient(pink, $color-secondary);
    color: white;
    font-size: 20px;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 5px $color-footer;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms ease-in-out;
    &:hover{
        filter: brightness(1.15);
        transform: scale(1.1);
    }
}
