// blocs BEM independant= boutons par exemple

.button{
    background-color: $color-secondary;
    color: white;
    font-size: 20px;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 5px $color-footer;
    &:hover{
        color: $color-primay;
        background-color: $color-terciary;
    }
}