body, header, main, section, footer{
    width: 100%;
    max-width: 768px;

    margin: 0px;
    padding: 0px;
}

body{
    height: 6000px;
}



.container{
    width:100%;
    max-width: inherit;
    @include displayCenter;
    flex-direction: column;

    &__title{
        width: 90%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }
    &__contents{
        width: 90%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.card{
    width: 100%;
    max-width: inherit;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 10px 5px 5px $color-primay;
    margin: 10px 0;
    @include displayCenter;
    flex-direction: column;
    &__pictures{
        width: 100%;
        max-width: inherit;
        height: 150px;
    }
    &__contents{
        width: 90%;
        max-width: inherit;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }
}

ul{
    margin: 0;
    padding: 0;
}

.color-white{
    color: white;
    &:hover{
        color: $color-secondary;
    }
}