body, header, main, section, footer{
    width: 100%;
    max-width: 768px;

    margin: 0px;
    padding: 0px;
}

body{
    height: 2000px;
}

section{
    padding: 20px 0 ;
}

a{
    text-decoration: none;
}

i{
    padding: 0 10px 0 0;
}

.onOneLine{
    @include displayRow;
}

.keepItOnYourLeft{
    justify-content: left;
}

.KeepItThin{
    font-weight: lighter;
}

.underlineGreen{
    border-bottom: 3px solid $color-terciary;
}

.keepApart{
    justify-content: space-between;
}

.container{
    width:100%;
    max-width: inherit;
    @include displayCenter;
    flex-direction: column;
    background-color: white;

    &__title{
        width: 90%;
        max-width: inherit;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    &__contents{
        width: 85%;
        max-width: inherit;
        @include displayCenter;
        flex-direction: column;

    }
}

.card{
    width: 100%;
    max-width: inherit;
    // margin: 20px 0;
    @include displayCenter;
    flex-direction: column;
    cursor: pointer;
    &__pictures{
        width: 100%;
        max-width: inherit;
        height: 150px;
    }
    &__contents{
        width: 90%;
        max-width: inherit;
        color: black;
        @include displayRow;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }
}

ul{
    margin: 0;
    padding: 0;
}

.color-white{
    color: white;
    &:hover{
        color: $color-secondary;
    }
}

.firstToAppear{
    animation: show 1000ms 500ms;
    
}

.secondToAppear{
    animation: show 2500ms 200ms; 
}

.thridToAppear{
    animation: show 5000ms 200ms; 
}

.fourthToAppear{
    animation: show 7000ms 200ms; 
}

@keyframes show {
    0% { 
        opacity: 0;
        transform: translateY(30px);
    }
    100% { 
        opacity: 1;
        transform: translateY(0px);
    }
}

.blocInline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.border{
    margin: 20px 0;
    border: 1px solid black;
    border-radius: $border-radiusCard;
    box-shadow: 5px 5px 5px $color-footer;
    display: flex;   
}