//  blocs BEM pas réutilisées ailleurs que dans cette page
.mainOfMenu{
    background-color: $color-background;
}
.headerOfMenu{
    width:100%;
    max-width: inherit;
    @include displayRow;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    &__arrow{
        position:relative;
        left:-18%;
    }
    &__logo{
        @include displayCenter;
    }
}

.headerOfCard{
    font-size: 22px;
}

.pictureOfRestaurant{
    position:absolute;
    width: 100%;
    max-width: inherit;
    height: 560px;
    object-fit: cover;
}

.container--position{
    position: relative;
    margin-top: 450px;
}

.container--radius{
    border-radius: 80px 80px 0 0;
}

.progress{
    display: none;
    width: 80px;
    height: 100px;
    border-radius: 0 $border-radiusCard $border-radiusCard 0;
    @include displayCenter;
    background-color: $color-terciary;
    color: white;
    // transform-origin: 100% 50%;
    // transform: scaleX(0);
    // transition: 2000ms cubic-bezier(.32,0,.07,1); 

}

.greenCheck{

    border: none;
    border-radius: 100%;
    background-color: white;
    color: $color-terciary;
    padding: 10px 0px 10px 10px;
    transform: rotateX(0deg);
}