//  blocs BEM pas réutilisées ailleurs que dans cette page
.mainOfMenu{
    background-color: $color-background;
}
.headerOfMenu{
    width:100%;
    max-width: inherit;
    @include displayRow;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    &__arrow{
        position:relative;
        left:-18%;
    }
    &__logo{
        @include displayCenter;
    }
}

.headerOfCard{
    font-size: 22px;
}

.pictureOfRestaurant{
    position:absolute;
    width: 100%;
    max-width: inherit;
    height: 560px;
    object-fit: cover;
}

.container--position{
    position: relative;
    margin-top: 450px;
}

.container--radius{
    border-radius: 80px 80px 0 0;
}


