//Pour rangez:
// - les variables, 
// - fonctions, 
// - mixins 
// - et les  %placeholders pour les extensions (si j'en utilise) 

$color-primay : #9356DC;
$color-secondary: #FF79DA;
$color-terciary: #99E2D0;

