//Pour rangez:
// - les variables, 
// - fonctions, 
// - mixins 
// - et les  %placeholders pour les extensions (si j'en utilise) 

$color-primay : #9356DC;
$color-secondary: #FF79DA;
$color-terciary: #99E2D0;
$color-background: rgb(246,246,246);
$color-location: rgb(211, 206, 206);
$green: rgb(40, 240, 40);
$color-footer: rgb(60, 60, 60);
